
body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.pull-top-right {
  position: absolute;
  right: 5%;
  top:5%;
}

.h-nohigh {
 margin: 0;
}

.h-inlinehigh {
  margin: 20px auto 0;
}

.text-grey {
  color: #9b9b9b;
}

.bg-grey {
  background: #9b9b9b;
}

.border-green {
  border-color: #5CC99F;
}

.text-green {
  color: #5CC99F;
}

.like-btn {
  height: 20px;
  border-radius: 5px;
  margin-top: 8px;
}

.like-btn h5 {
  margin: 3px auto;
}

/*for image clip*/
.clip-circle {
  border-radius: 50%;
}

/*header bar*/
.grey-hearder {
  background-color: #F1EEE9 !important;
  height: 60px;
  border-bottom: 2px solid #5CC99F !important;
}

.sidebar-icon {
  background-image: url("../img/buttons/sidebar-btn.png") !important;
  background-size: 50px !important;
  width: 50px;
  height: 50px;
  margin-top: -10px;
  margin-left: 15px;
}

/*** sidebar ***/
#side-avatar {
  text-align: center;
  margin: 20px;
  font-size: 1.1em;
}

#side-avatar-img {
  width: 30%;
  margin: 20px auto 0;
}

/*** home page ***/
#map {
  width: 100%;
  height: 100%;
}

/*.scroll {*/
  /*height: 100%;*/
/*}*/

#find-me-btn,
#help-me-btn,
#navigate-btn,
#stop-navigate-btn,
#report-btn,
#refresh-map-btn,
.top-report-btn {
  position: absolute;
  background-size: 80px;
  width: 80px;
  height: 80px;
}

#help-me-btn {
  top: 10%;
  right: 3%;
  background-image: url("../img/buttons/help-btn.png");
}

#find-me-btn {
  bottom: 18%;
  right: 4%;
  background-image: url("../img/buttons/findme-btn.png");
  background-size: 70px;
  width: 70px;
  height: 70px;
}

#report-btn {
  left: 3%;
  bottom: 2%;
  background-image: url("../img/buttons/report-btn.png");
}

#navigate-btn,
#stop-navigate-btn {
  bottom: 2%;
  right: 3%;
  background-image: url("../img/buttons/navigate-btn.png");
}

#stop-navigate-btn {
  background-image: url("../img/buttons/stop-btn.png");
}

#refresh-map-btn {
  bottom: 20%;
  right: 3%;
}

/*popup center icon*/
.top-center-icon {
  position: fixed;
  top: 41%;
  left: 43%;
  width: 15%;
}

/*override popup*/
.popup {
  position: absolute;;
  border-radius: 5px !important;
  width: 100% !important;
  /*/!*background: #ffffff !important;*!/ DO NOT override popup body here*/
  top: 0;
  left: 0;
}

.popup-head,
.popup-body {
  padding: 5px !important;
  border: none;
}

.offender-popup .popup,
.place-popup .popup,
.crime-popup .popup,
.report-popup .popup,
.user-popup .popup {
  background: #ffffff;
}

.offender-popup .popup-buttons .button,
.place-popup .popup-buttons .button,
.crime-popup .popup-buttons .button,
.report-popup .popup-buttons .button,
.user-popup .popup-buttons .button {
  min-height: 50px !important;
}

.offender-popup .popup-buttons,
.place-popup .popup-buttons,
.crime-popup .popup-buttons,
.report-popup .popup-buttons,
.user-popup .popup-buttons {
  min-height: 40px !important;
}

.report-menu-popup .popup {
  top: 63%;
  background-image: url("../img/bg/report-menu-bg.png");
  background-size: 100%;
  height: 55%;
  background-repeat: no-repeat;
  background-color: transparent;
}

.report-menu-popup .popup .popup-head {
  display: none;
}

.report-menu-popup .popup .popup-body {
  padding: 0 !important;
}

.report-menu-popup .popup .popup-body .row {
  padding: 15px 20px 15px 32px
}

.report-menu-popup .popup .popup-body .col {
  margin: auto -3px;
}

.top-report-btn {
  position: fixed !important;
  background-image: url("../img/buttons/report-btn.png");
  top: 23%;
  left: 3%;
}

.report-edit-popup .popup {
  top: 20%;
  left: 10%;
  width: 80% !important;
  background-color: #fff;
  padding: 20px;
}

.report-edit-popup .popup .popup-head {
  display: none;
}

.report-edit-popup .popup .popup-buttons {
  border-radius: 5px;
  background: #1ac09a;
  margin: 5px 5px 10px;
  min-height: 5px;
}

.report-edit-textarea {
  background-color: #F1F1F1;
  margin-top: 15px;
  border-radius: 5px;
  padding: 10px;
}

.popup-buttons {
  margin: 0;
  padding: 0;
  background: #f8f8f8;
  border-top: 1px solid #c5c5c5;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.popup-buttons button{
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  color: #1ac09a;
  font-size: 1.3em;
}

#top-report-edit-close-btn {
  position: absolute !important;
  background-image: url("../img/buttons/popup-close-btn.png");
  background-size: 40px;
  width: 40px;
  height: 40px;
  top: -5%;
  right: -5%;
}

#top-report-edit-btn {
 left: -7% !important;
 top: 66% !important;
}

.help-popup .popup-head {
  border: none;
}

.help-popup .popup {
  width: 80%;
  background: #f6412f;
  height: 40%;
}

.help-popup .popup-body {
  height: 100%;
}

.help-popup .popup-buttons {
  background: #d32d21;
  border: none;
}

.help-cancel-btn {
  background: #f6412f;
  border: none;
  color: #fff;
  font-size: 14px;
}

#navigateModal {
  margin-top: 20px;
  min-height: 210px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#navigateModal .btn-nav {
  padding: 0;
  margin: 5px auto 0;
  background: #f8f8f8;
  border: none;
  border-top: 1px solid #c5c5c5;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #1ac09a;
  font-size: 1.1em;
}

#navigateModal .bar-header {
  background: #fff;
  height: 50px;
}

#navigateModal .bar-header .title {
  left: 30%;
}

#navigateModal .bar-header button {
  font-size: 14px;
  margin-right: 12px;
  color: #b3b3b3;
}

#navigateModal .scroll-content {
  padding: 0px;
  max-height: 160px;
}

#navigateModal .scroll .item {
  background: #f8f8f8;
  border:none;
  margin: 0 20px 0 20px;
}

.nav {
  padding: 0;
}

/*** welcome page ***/
.slider {
  min-height: 85% !important;
  height: 85% !important;
}

.slider-slide > div {
  margin: 50% auto;
}

h1.app-title {
  font-size: 4em;
  font-variant: small-caps;
}

.app-tagline {
  font-size: 1.5em;
  color: #fff;
  margin: 45% 10%;
}

.slide-subtitle {
  font-size: 15px;
}

.welcome-btns {
  height: 55px;
  background: #1D989A;
  padding: 0;
  margin: 0;
}

.welcome-btns a.welcome {
  width: 50%;
  background: #1D989A;
  color: white;
  font-size: 1.1em;
  border: 1px solid #198789;
  border-radius: 0;
  padding-top: 2%;
  position: relative;
}

.bar > .button + .button:last-child {
  top: 0;
  right : 0;
  bottom: 0;
}

.icon.ion-record {
  color: white;
}

.slider-pager {
  bottom: 60px;
  font-size: 0.7em;
}

/*override pane*/
.pane{
  background-image: url("../img/welcome-bg/bg.png");
  background-size: 100%;
}

#silde-1 {
  background-image: url("../img/welcome-bg/1.png");
  background-size: 100%;
}

#silde-2 {
  background-image: url("../img/welcome-bg/2.png");
  background-size: 100%;
}

#silde-3 {
  background-image: url("../img/welcome-bg/3.png");
  background-size: 100%;
}

#silde-4 {
  background-image: url("../img/welcome-bg/4.png");
  background-size: 100%;
}

/*** signup page ***/
.signup-page h1, .login-page h1 {
  margin: 5% auto;
}


p.description {
  color: gray;
}

.side-bar #side-avatar {
  margin-bottom: 20%;
}

.side-bar, .side-bar .item {
  background: #4d525b;
  min-height: 50px;
  font-size: 1.1em;
}

.side-bar .item {
  border: 1px solid #2d2d2d;
  padding-left: 10%;
}

.side-bar h2, .side-bar h4 {
  color: white;
  font-size: 1.1em;
}

/*** sign in ***/
.login-logo{
  margin: 40px 40px 30px 53px;
}

.login-input {
  margin: 5px 20px 5px 20px;
}

.login-input .item-input:first-of-type {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.login-input .item-input:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.login-btn {
  background: #55be7f;
  border-radius: 5px;
  width: 95% !important;
  border: none;
  margin-left: 2.5%;
  color: #fff !important;
  font-weight: bold;
}

a.link, p.link {
  color: white;
  text-decoration: none;
}

/*plan route*/
.input-label {
  max-width: 50px;
}

/*buttons*/
.login-btn.button.active, .login-btn.button.activated {
  border-color: #4c9e68;
  background-color: #55ae6f;
}
