/* Empty. Add your own CSS if you like */

/*** sidebar ***/
body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

/*** sidebar ***/
#side-avatar {
  text-align: center;
  margin: 20px;
}

#side-avatar-img {
  width: 30%;
  margin: 10px;
}

/*** home page ***/
#map {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}

#find-me-btn,
#help-me-btn,
#navigate-btn,
#stop-navigate-btn,
#report-btn,
#refresh-map-btn {
  position: absolute;
}

#help-me-btn {
  top: 10%;
  right: 5%;
}

#find-me-btn {
  bottom: 15%;
  right: 5%;
}

#report-btn {
  left: 5%;
  bottom: 5%
}

#navigate-btn,
#stop-navigate-btn {
  bottom: 5%;
  right: 5%;
}

#refresh-map-btn {
  bottom: 25%;
  right: 5%;
}

/*popup center icon*/
.top-center-icon {
  position: fixed;
  top: 43%;
  left: 43%;
  width: 15%;
}

/*override popup*/
.popup {
  position: absolute;;
  border-radius: 5px !important;
  width: 100% !important;
  top: 0;
  left: 0;
}

.popup-head,
.popup-body {
  padding: 5px !important;
}

.report-menu-popup .popup {
  top: 60%;
}

.report-edit-popup .popup {
  top: 40%;
}

/*** welcome page ***/
.slider {
  min-height: 85% !important;
  height: 85% !important;
}

.slider-slide > div {
  margin: 50% auto;
}

h1.app-title {
  font-size: 4em;
  font-variant: small-caps;
}

.app-tagline {
  font-size: 1.2em;
}

.bar-footer a.button {
  width: 48%;
}

/*** signup page ***/
.signup-page h1, .login-page h1 {
  margin: 5% auto;
}
