/* Empty. Add your own CSS if you like */

body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.pull-top-right {
  position: absolute;
  right: 5%;
  top:5%;
}

.h-nohigh {
 margin: 0;
}

/*header bar*/
.grey-hearder {
  background-color: #F1EEE9 !important;
  height: 60px;
  border-bottom: 2px solid #5CC99F !important;
}

.sidebar-icon {
  background-image: url("/img/buttons/sidebar-btn.png") !important;
  background-size: 50px !important;
  width: 50px;
  height: 50px;
  margin-left: 15px;
}

/*** sidebar ***/
#side-avatar {
  text-align: center;
  margin: 20px;
}

#side-avatar-img {
  width: 30%;
  margin: 10px;
}

/*** home page ***/
#map {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}

#find-me-btn,
#help-me-btn,
#navigate-btn,
#stop-navigate-btn,
#report-btn,
#refresh-map-btn,
.top-report-btn {
  position: absolute;
  background-size: 80px;
  width: 80px;
  height: 80px;
}

#help-me-btn {
  top: 10%;
  right: 3%;
  background-image: url("/img/buttons/help-btn.png");
}

#find-me-btn {
  bottom: 18%;
  right: 4%;
  background-image: url("/img/buttons/findme-btn.png");
  background-size: 70px;
  width: 70px;
  height: 70px;
}

#report-btn {
  left: 3%;
  bottom: 2%;
  background-image: url("/img/buttons/report-btn.png");
}

#navigate-btn,
#stop-navigate-btn {
  bottom: 2%;
  right: 3%;
  background-image: url("/img/buttons/navigate-btn.png");
}

#refresh-map-btn {
  bottom: 20%;
  right: 3%;
}

/*popup center icon*/
.top-center-icon {
  position: fixed;
  top: 43%;
  left: 43%;
  width: 15%;
}

/*override popup*/
.popup {
  position: absolute;;
  border-radius: 5px !important;
  width: 100% !important;
  top: 0;
  left: 0;
}

.popup-head,
.popup-body {
  padding: 5px !important;
}

.report-menu-popup .popup {
  top: 63%;
  background-image: url("/img/bg/report-menu-bg.png");
  background-size: 100%;
  height: 45%;
  background-repeat: no-repeat;
  background-color: transparent;
}

.report-menu-popup .popup .popup-head {
  display: none;
}

.report-menu-popup .popup .popup-body {
  padding: 0 !important;
}


.top-report-btn {
  position: fixed !important;
  background-image: url("/img/buttons/report-btn.png");
  top: 22%;
  left: 3%;
}

.report-edit-popup .popup {
  top: 20%;
  left: 10%;
  width: 80% !important;
  background-color: #fff;
  padding: 20px;
}

.report-edit-popup .popup .popup-head {
  display: none;
}

.report-edit-popup .popup .popup-button{

}

#top-report-edit-close-btn {
  position: absolute !important;
  background-image: url("/img/buttons/popup-close-btn.png");
  background-size: 40px;
  width: 40px;
  height: 40px;
  top: -5%;
  right: -5%;
}

#top-report-edit-btn {
 left: -8% !important;
 top: 65% !important;
}

.help-popup .popup {
  top: 20%;
  width: 80%;
}

/*** welcome page ***/
.slider {
  min-height: 85% !important;
  height: 85% !important;
}

.slider-slide > div {
  margin: 50% auto;
}

h1.app-title {
  font-size: 4em;
  font-variant: small-caps;
}

.app-tagline {
  font-size: 1.2em;
}

.bar-footer a.button {
  width: 48%;
}

/*** signup page ***/
.signup-page h1, .login-page h1 {
  margin: 5% auto;
}
