<!--add scroll="false" data-tap-disabled="true" to enable on-click-->
<ion-view title="Home" scroll="false" data-tap-disabled="true">



  <map center="current-location" zoom="16" id="map" pan-control="false" zoom-control="false" scale-control="false" styles="{{styles}}" on-drag-end="refreshMap()">

    <!--buttons-->
    <button id="find-me-btn" ng-click="centerOnMe()" class="button button-icon icon"></button>
    <button id="help-me-btn" ng-click="showHelpPopup()" class="button button-icon icon"></button>
    <button id="report-btn" ng-click="showReportMenuPopup()" class="button button-icon icon"></button>
    <button id="navigate-btn" ng-click="navModal.show()" ng-show="!inNavigate" class="button button-icon icon"></button>
    <button id="stop-navigate-btn" ng-click="clearRoute()" ng-show="inNavigate" class="button button-icon icon"></button>
    <!--<button id="refresh-map-btn" ng-click="refreshMap()" class="button button-stable">Refresh</button>-->

    <!--current locaiton marker-->
    <marker position="current-location"></marker>

    <!--crime markers-->
    <marker ng-repeat="crime in crimereports.crimes"
            on-click="showCrimePopup(crime)"
            position="[{{crime.lat}}, {{crime.lng}}]"
            icon="/img/mappin/crime.png"
            icon-size="20px">
    </marker>
    <script id="templates/crimePopup.html" type="text/ng-template">
      <div class="text-center">
        <img ng-src="{{streetViewUrl}}" height="100px">
        <h5>Time: {{currCrime.incident_date_time | date:'MM/dd/yyyy @ h:mma'}}</h5>
      </div>
      <!--overlay center icon-->
      <img class="top-center-icon" ng-src="/img/mappin/crime.png"/>
    </script>

    <!--sex offender markers-->
    <marker ng-repeat="offender in crimereports.offenders"
            on-click="showOffenderPopup(offender)"
            position="[{{offender.lat}}, {{offender.lng}}]"
            icon="/img/mappin/offender.png">
    </marker>
    <script id="templates/offenderPopup.html" type="text/ng-template">
      <div class="text-center">
        <img ng-src="{{currOffender.photoUrl}}" alt="offender photo" height="120px"/>
        <h4>{{currOffender.name}}</h4>
      </div>
      <div class="row">
        <div class="col col-33 text-right">Address:</div>
        <div class="col">{{currOffender.address}}</div>
      </div>
    </script>

    <!--report markers-->
    <marker ng-repeat="report in reports"
            on-click="showReportPopup(report)"
            position="[{{report.latitude}}, {{report.longitude}}]"
            icon="/img/icons/report.png">
    </marker>
    <script id="templates/reportPopup.html" type="text/ng-template">
      <div class="text-center">
        <div class="row">
          <div class="col col-50">
            <!--mapping type to icon name-->
            <img ng-src="/img/icons/report.png" alt="" height="80px"/>
            <h4>{{currReport.type}} </h4>
            <h5>{{currReport.description}}</h5>
          </div>
          <div class="col">
            <h4>Time: {{currReport.date | date:'MM/dd/yyyy @ h:mma'}}</h4>
            <h4>Likes: {{currReport.likes}}</h4>
            <button class="button button-outline button-assertive" ng-click="likeReport(currReport)">Like</button>
          </div>
        </div>
      </div>
      <!--overlay center icon-->
      <img class="top-center-icon" ng-src="/img/icons/report.png"/>
    </script>

    <!--Place markers-->
    <marker ng-repeat="place in places" on-click="showPlacePopup(place)"
            ng-show="place.opening_hours.open_now"
            position="[{{place.geometry.location.lat}}, {{place.geometry.location.lng}}]"
            icon="/img/mappin/place.png">
    </marker>
    <script id="templates/placePopup.html" type="text/ng-template">
      <div class="text-center">
        <h4>{{currPlace.name}}</h4>
        <h6>{{currPlace.vicinity}}</h6>
      </div>
      <!--overlay center icon-->
      <img class="top-center-icon" ng-src="/img/mappin/place.png"/>
    </script>

    <!--user markers-->
    <marker ng-repeat="user in users"
            position="[{{user.latitude}}, {{user.longitude}}]"
            icon="/img/avatars/{{user.icon}}.png">
    </marker>

    <!--route - directions-->
    <directions ng-show="inNavigate"
      panel="directions-panel"
      travel-mode="WALKING"
      origin="{{origin}}"
      destination="{{destination}}">
    </directions>

  </map>

  <!--navigate input modal-->
  <script id="templates/navigateModal.html" type="text/ng-template">
    <ion-modal-view id="navigateModal">
      <ion-header-bar class="bar bar-header bar-stable">
        <h1 class="title">Plan a Footpath</h1>
        <button class="button button-clear button-primary" ng-click="navModal.hide()">Cancel</button>
      </ion-header-bar>
      <ion-content class="padding">

        <div class="list">
          <label class="item item-input">
            <span class="input-label">From</span>
            <ion-autocomplete ng-model="navigate.from"
                              item-view-value-key="view"
                              item-value-key="location"
                              items-method="getTestItems(query)"
                              placeholder="Enter your start location..."
                              items-clicked-method="fromLocSelect(callback)"></ion-autocomplete>
          </label>
          <label class="item item-input">
            <span class="input-label">To</span>
            <ion-autocomplete ng-model="navigate.to"
                              item-view-value-key="view"
                              item-value-key="location"
                              items-method="getTestItems(query)"
                              placeholder="Enter your end location..."
                              items-clicked-method="toLocSelect(callback)"></ion-autocomplete>
          </label>
          <button class="button button-full button-positive" ng-click="calculateNavigation(navigate)">Start Navigate</button>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>

  <script id="templates/reportMenuPopup.html" type="text/ng-template">
    <div class="row text-center">
      <div class="col col-33" ng-click="showEditReportPopup('suspect')">
        <img ng-src="/img/buttons/report-suspect-btn.png" height="80px"/>
        <h4 class="stable h-nohigh">Suspect</h4>
      </div>
      <div class="col col-33" ng-click="showEditReportPopup('animal')">
        <img ng-src="/img/buttons/report-animal-btn.png" height="80px"/>
        <h4 class="stable h-nohigh">Animal</h4>
      </div>
      <div class="col" ng-click="showEditReportPopup('insident')">
        <img ng-src="/img/buttons/report-insident-btn.png" height="80px"/>
        <h4 class="stable h-nohigh">Insident</h4>
      </div>
    </div>
    <button ng-click="hideReportMenuPopup()" class="button button-icon icon top-report-btn"></button>
  </script>

  <script id="templates/reportEditPopup.html" type="text/ng-template">
    <button id="top-report-edit-close-btn" class="button button-icon icon" ng-click="hideEditReportPopup()"></button>
    <div class="text-center">
      <!--mapping type to icon name-->

      <h3>Report</h3>
      <img ng-src="/img/buttons/report-{{newReport.type}}-btn.png" alt="" height="100px"/>
      <h3>{{newReport.type}}</h3>
      <input type="text" ng-model="newReport.description" placeholder="Description..."/>
    </div>
    <button id="top-report-edit-btn" class="button button-icon icon top-report-btn"></button>
  </script>

  <script id="templates/helpPopup.html" type="text/ng-template">
    <div class="text-center">
      <h1 class="assertive">Help Me!</h1>
      <button class="button button-small button-stable pull-top-right" ng-click="closeHelpPop()">Cancel</button>
      <h3>Are you in danger?</h3>
      <h4>Call 911 and Alert Nearby users!</h4>
    </div>
  </script>

</ion-view>
