<!--add scroll="false" data-tap-disabled="true" to enable on-click-->
<ion-view title="Home" scroll="false" data-tap-disabled="true">

  <ion-header-bar class="bar-stable grey-hearder" ng-controller="MainCtrl">
    <button class="button button-icon icon sidebar-icon" ng-click="toggleLeft()" ng-hide="$exposeAside.active"></button>
  </ion-header-bar>

  <map center="current-location" zoom="15" id="map" pan-control="false" zoom-control="false" scale-control="false" styles="{{styles}}" on-drag-end="refreshMap()">

    <!--buttons-->
    <button id="find-me-btn" ng-click="centerOnMe()" class="button button-icon icon"></button>
    <button id="help-me-btn" ng-click="showHelpPopup()" class="button button-icon icon"></button>
    <button id="report-btn" ng-click="showReportMenuPopup()" class="button button-icon icon"></button>
    <button id="navigate-btn" ng-click="navModal.show()" ng-show="!inNavigate" class="button button-icon icon"></button>
    <button id="stop-navigate-btn" ng-click="clearRoute()" ng-show="inNavigate" class="button button-icon icon"></button>
    <!--<button id="refresh-map-btn" ng-click="refreshMap()" class="button button-stable">Refresh</button>-->

    <!--current locaiton marker-->
    <marker position="current-location" icon="./img/mappin/currloc.png"></marker>

    <!--crime markers-->
    <marker ng-repeat="crime in crimereports.crimes"
            on-click="showCrimePopup(crime)"
            position="[{{crime.lat}}, {{crime.lng}}]"
            icon="./img/mappin/crime.png"
            icon-size="20px">
    </marker>
    <script id="templates/crimePopup.html" type="text/ng-template">
      <div class="text-center">
        <h4 class="h-nohigh">{{currCrime.incident_type_name | uppercase }}</h4>
        <p class="description">Time: {{currCrime.incident_date_time | date:'MM/dd/yyyy @ h:mm a'}}</p>
        <img ng-src="{{streetViewUrl}}" height="120px">

      </div>
      <!--overlay center icon-->
      <img class="top-center-icon" ng-src="./img/mappin/crime.png"/>
    </script>

    <!--sex offender markers-->
    <marker ng-repeat="offender in crimereports.offenders"
            on-click="showOffenderPopup(offender)"
            position="[{{offender.lat}}, {{offender.lng}}]"
            icon="./img/mappin/offender.png">
    </marker>
    <script id="templates/offenderPopup.html" type="text/ng-template">
      <div class="text-center">
        <h4>Registered Sex Offender</h4>
        <img class="clip-circle" ng-src="{{currOffender.photoUrl}}" alt="offender photo" height="100px"/>
        <h5 class="text-grey h-nohigh">{{currOffender.name}}</h5>
        <p class="text-grey">{{currOffender.address}}</p>
      </div>
      <!--overlay center icon-->
      <img class="top-center-icon" ng-src="./img/mappin/offender.png"/>
    </script>

    <!--report markers-->
    <marker ng-repeat="report in reports"
            on-click="showReportPopup(report)"
            position="[{{report.latitude}}, {{report.longitude}}]"
            icon="./img/mappin/{{report.type}}.png">
    </marker>
    <script id="templates/reportPopup.html" type="text/ng-template">
      <div class="text-center report">
        <h4>{{currReport.type | uppercase}} </h4>
        <div class="pull-top-right button button-small border-green like-btn" ng-click="likeReport(currReport)">
          <h5 class="text-green">{{currReport.likes}} Likes</h5>
        </div>
        <h5 class="text-grey">Time: {{currReport.date | date:'MM/dd/yyyy @ h:mm a'}}</h5>
        <p class="description">{{currReport.description}}</p>
        <img ng-src="./img/mappin/{{currReport.type}}.png" alt="" height="80px"/>
      </div>
      <!--overlay center icon-->
      <img class="top-center-icon" ng-src="./img/mappin/{{currReport.type}}.png"/>
    </script>

    <!--Place markers-->
    <marker ng-repeat="place in places" on-click="showPlacePopup(place)"
            ng-show="place.opening_hours.open_now"
            position="[{{place.geometry.location.lat}}, {{place.geometry.location.lng}}]"
            icon="./img/mappin/place.png">
    </marker>
    <script id="templates/placePopup.html" type="text/ng-template">
      <div class="text-center">
        <h4>OPEN NOW</h4>
        <h4 class="h-inlinehigh">{{currPlace.name}}</h4>
        <p class="text-grey">{{currPlace.vicinity}}</p>
        <img ng-src="./img/mappin/place.png" alt="" height="80px" />
      </div>
      <!--overlay center icon-->
      <img class="top-center-icon" ng-src="./img/mappin/place.png"/>
    </script>

    <!--user markers-->
    <marker ng-repeat="user in users"
            position="[{{user.latitude}}, {{user.longitude}}]"
            icon="./img/avatars/{{user.icon}}.png">
    </marker>

    <!--route - directions-->
    <directions ng-show="inNavigate"
      panel="directions-panel"
      travel-mode="WALKING"
      origin="{{origin}}"
      destination="{{destination}}">
    </directions>

  </map>

  <!--navigate input modal-->
  <script id="templates/navigateModal.html" type="text/ng-template">
    <ion-modal-view id="navigateModal">
      <ion-header-bar class="bar bar-header bar-stable">
        <h1 class="title">Plan a Footpath</h1>
        <button class="button button-clear button-primary" ng-click="navModal.hide()">Cancel</button>
      </ion-header-bar>
      <ion-content class="padding">

        <div class="list">
          <label class="item item-input">
            <span class="input-label">From:</span>
            <ion-autocomplete ng-model="navigate.from"
                              item-view-value-key="view"
                              item-value-key="location"
                              items-method="getTestItems(query)"
                              placeholder="Enter your origin..."
                              items-clicked-method="fromLocSelect(callback)"></ion-autocomplete>
          </label>
          <label class="item item-input">
            <span class="input-label">To:</span>
            <ion-autocomplete ng-model="navigate.to"
                              item-view-value-key="view"
                              item-value-key="location"
                              items-method="getTestItems(query)"
                              placeholder="Enter your destination..."
                              items-clicked-method="toLocSelect(callback)"></ion-autocomplete>
          </label>
          <button class="button button-full button-positive" ng-click="calculateNavigation(navigate)">Start Navigate</button>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>

  <script id="templates/reportMenuPopup.html" type="text/ng-template">
    <div class="row text-center">
      <div class="col col-33" ng-click="showEditReportPopup('Suspect')">
        <img ng-src="./img/buttons/report-suspect-btn.png" height="70px"/>
        <h4 class="stable h-nohigh">Suspect</h4>
      </div>
      <div class="col col-33" ng-click="showEditReportPopup('Animal')">
        <img ng-src="./img/buttons/report-animal-btn.png" height="70px"/>
        <h4 class="stable h-nohigh">Animal</h4>
      </div>
      <div class="col" ng-click="showEditReportPopup('Incident')">
        <img ng-src="./img/buttons/report-incident-btn.png" height="70px"/>
        <h4 class="stable h-nohigh">Incident</h4>
      </div>
    </div>
    <button ng-click="hideReportMenuPopup()" class="button button-icon icon top-report-btn"></button>
  </script>

  <script id="templates/reportEditPopup.html" type="text/ng-template">
    <button id="top-report-edit-close-btn" class="button button-icon icon" ng-click="hideEditReportPopup()"></button>
    <div class="text-center">
      <h4>Report</h4>
      <!--mapping type to icon name-->
      <img ng-src="./img/buttons/report-{{newReport.type}}-btn.png" alt="" height="80px"/>
      <h4 class="h-nohigh">{{newReport.type}}</h4>
      <textarea class="report-edit-textarea" rows="3" ng-model="newReport.description" placeholder="Description..."></textarea>
    </div>
    <button id="top-report-edit-btn" class="button button-icon icon top-report-btn"></button>
  </script>

  <script id="templates/helpPopup.html" type="text/ng-template">
    <div class="text-center stable h-inlinehigh">
      <h3 class="stable h-inlinehigh">Help Me!</h3>
      <button class="button button-small pull-top-right help-cancel-btn" ng-click="closeHelpPop()">Cancel</button>
      <h4 class="stable h-inlinehigh">In danger?</h4>
      <h4 class="stable h-inlinehigh">Call 911 and alert others!</h4>
    </div>
  </script>

</ion-view>
