<ion-view title="Login">
  <ion-content class="has-header login-page" scroll="false">
    <h1 class="text-center royal">Login</h1>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Email">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password">
      </label>
    </div>
    <div class="padding text-center">
      <button class="button button-block button-calm">Submit</button>
      <p>Don't have an account? <a href="#/signup">Sign Up</a></p>
    </div>
  </ion-content>
</ion-view>
