<ion-view title="Signup">
  <ion-content class="has-header signup-page" scroll="false">
    <h1 class="text-center positive">Sign Up</h1>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="First Name">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Last Name">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Email">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Confirm Password">
      </label>
    </div>
    <div class="padding text-center">
      <button class="button button-block button-calm">Submit</button>
      <p>Already have an account? <a href="#/login">Login</a></p>
    </div>
  </ion-content>
</ion-view>

