<ion-view title="Welcome">
  <div class="bar bar-header bar-stable">
    <h1 class="title">Welcome</h1>
  </div>

  <ion-slide-box class="has-header" on-slide-changed="slideHasChanged($index)">

    <ion-slide>
      <div class="padding text-center slide-bkgd">
        <h1 class="dark app-title">[App Name]</h1>
        <p class="app-tagline">
          Knowledge is Power, Crowdsourcing Our Safety
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="padding text-center slide-value">
        <h4 class="dark">
          Official police reports of crime incidents near you
        </h4>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="padding text-center slide-features">
        <h4 class="dark">
          Get real-time safety alerts from others
        </h4>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="padding text-center slide-features">
        <h4 class="dark">
          Nothing beats people working together. <br>
          Report with just ONE click!
        </h4>
      </div>
    </ion-slide>

  </ion-slide-box>

  <div class="bar bar-footer bar-dark">
    <a class="button button-outline button-light" href="#/signup">Sign Up</a>
    <a class="button button-outline button-calm" href="#/login">Login</a>
  </div>

</ion-view>
