<ion-view title="Welcome">

  <ion-slide-box class="has-header" on-slide-changed="slideHasChanged($index)">

    <ion-slide id="silde-1">
      <div class="padding text-center slide-bkgd">
        <h2 class="stable app-title">[App Name]</h2>
        <h4 class="app-tagline">
          Knowledge is Power, Crowdsourcing Our Safety
        </h4>
      </div>
    </ion-slide>

    <ion-slide id="silde-2">
      <div class="padding text-center slide-value">
        <h4 class="app-tagline">
          Official police reports of crime incidents near you
        </h4>
      </div>
    </ion-slide>

    <ion-slide id="silde-3">
      <div class="padding text-center slide-features">
        <h4 class="app-tagline">Nothing beats people working together <br/>
          <span class="slide-subtitle">Get and report safety alerts in real time to others</span>
        </h4>
      </div>
    </ion-slide>

    <ion-slide id="silde-4">
      <div class="padding text-center slide-features">
        <h4 class="app-tagline">
          When in danger, call 911 and alert nearby users
        </h4>
      </div>
    </ion-slide>

  </ion-slide-box>

  <div class="bar bar-footer bar-dark">
    <a class="button button-outline button-light" href="#/signup">Sign Up</a>
    <a class="button button-outline button-calm" href="#/login">Login</a>
  </div>

</ion-view>
